# Node modules
node_modules/

# Cypress screenshots and videos
cypress/screenshots/
cypress/videos/

# Cypress environment files
.env
cypress.env.json

# OS or editor files
.DS_Store
.vscode/

# Custom folders that may store secrets
server.key